*.swp
*.pyc
*.pkl
*.py~
.pytest_cache
.DS_Store
.idea
*.txt

# Setuptools distribution and build folders.
/dist/
/build
keys/

# Virtualenv
/env


*.sublime-project
*.sublime-workspace

*log/
*logs/

.idea

logs/
logs_backup/

.ipynb_checkpoints
ghostdriver.log

htmlcov

junk
src

*.egg-info
.cache

train/

model/
Baseline/__pycache__